<header class="site-header blog-header">
    <div class="top-block">
      <a href="{{ site.baseurl }}/" class="site-title">
        <h1 class="blog-title">{{ site.title }}  </h1>
      </a>
      <h2 class="blog-description"> By Cuillin</h2>
    </div>
    <div class="second-block">
        <div class="page-links">
            <a class="page-link" href="{{ site.baseurl }}/">Home</a>

            {% for my_page in site.pages %}
              {% if my_page.title %}
                | <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              {% endif %}
            {% endfor %}
        </div>
    </div>
  
</header>
