<header class="site-header blog-header">
    <div class="top-block">
      <h1 class="blog-title">{{ site.title }}</h1>
      
    </div>
    <h2 class="blog-description">By Cuillin</h2>
  
</header>
<div class="page-links">
    <ol>
        <a class="page-link" href="{{ site.baseurl }}/">Home</a>
    </ol>

    {% for my_page in site.pages %}
      {% if my_page.title %}
      <ol>
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      </ol>
      {% endif %}
    {% endfor %}
  </div>